* {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
  font-size: 10px;
}
body {
  color: #232830;
  padding-bottom: 49px;
  min-height: 100%;
  min-width: 1130px;
  margin: 0;
  background-color: #f3f5f8;
}
body p {
  margin: 0;
}
body span {
  display: inline-block;
}

.ng-hide,
.ng-cloak {
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.no-margin {
  margin: 0;
}
.to-left {
  text-align: left;
}
.to-right {
  text-align: right;
}
.center {
  text-align: center;
}

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
.form-signin {
  max-width: 367px;
  width: 367px;
  padding: 15px;
  margin: 0 auto;
}
.signup-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.signup-input-confirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.input-group-addon {
  top: 0;
}
.more-info {
  margin-top: 50px;
  border-top: 1px solid #dfe0e6;
}
.line-thru {
  display: block;
  font-size: .875em;
  margin: 15px 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.line-thru:before {
  width: 40px;
  height: 10px;
  background-color: #fff;
  content: '';
  margin: -5px 0 0 -20px;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: -1;
}
.line-thru:after {
  border-bottom: 1px solid #dfe0e6;
  content: '';
  display: block;
  position: absolute;
  top: 49%;
  width: 100%;
  z-index: -2;
}
.create-account {
  text-align: center;
  width: 100%;
  display: block;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-center {
  width: 50%;
  text-align: center;
  margin: inherit;
}
html,
body {
  height: 100%;
  position: relative;
}
#sign-in-logo {
  background-image: url("/aidata/img/logo.png");
  width: 165px;
  height: 159px;
  margin-left: 85px;
  margin-bottom: 50px;
}
.buttons {
  margin-top: 20px;
}

.modal-backdrop {
  bottom: 0;
}
.modal-body {
  overflow-x: auto;
}
.has-feedback .form-control {
  padding-right: 33px!important;
}
.form-control-feedback {
  right: 15px!important;
}
.hr {
  margin-top: 0!important;
  margin-bottom: 15px;
}
.popover {
  width: 500px;
  max-width: 500px;
}
.tooltip.in {
  opacity: .9!important;
}
.tooltip-inner {
  max-width: 300px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6e8f9e;
  border-radius: 4px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #6e8f9e;
}
.has-error .input-group-btn,
.has-error button {
  border-color: #A94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .glyphicon-ok {
  display: none!important;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: pointer!important;
}

