div(class="header")
  div(class="header_wrapper")
    div(class="logo")
      a(ui-sref="dashboard.adaccounts")
        img(src="/img/logo.png", alt="Aidata logo", height="46px;")
    div(class="user")
      a(class="user_name", href="{{site.github}}") View on GitHub
      a(href="javascript: void 0;")
        img(class="log-out-icon", src="/img/icons/icon-logout.png", alt="Logout icon")
