mixin preloader(id)
  - id = id || "preloading.page";
  div(class="preloader", ng-if="#{id} !== false")
    div(class="preloader_veil")
    div(class="preloader_message")
      img(src="/img/dots_preloader.gif", alt="")
      span Loading, please wait ...