.sharing-option {
	position: 				relative;
	margin-bottom: 		10px;
	background-color: #F5F5F5;
}
.sharing-option-inner {
	padding: 					7px 15px 15px 15px;
	.form-group {
		margin: 				0;
	}
}
.sharing-options_add {
	margin-bottom: 		15px;
	text-align: 			center;
}
.button-wrapper {
	display: 					inline-block;
}
.sharing-option_actions {
	display: 				inline-block;
	position: 			absolute;
	right: 					8px;
	top: 						50%;
	cursor: 				pointer;
}
.sharing-option_action {}
.sharing-option_action__trash {}
.sharing-option_action__checkbox {}