.sharing-option {
	position: 				relative;
	margin-bottom: 		10px;
	background-color: #F5F5F5;
	.trash {
		display: 				inline-block;
		position: 			absolute;
		right: 					8px;
		top: 						50%;
		margin-top: 		-12px;
		cursor: 				pointer;
	}
}
.sharing-option-inner {
	padding: 					7px 15px 15px 15px;
	.form-group {
		margin: 				0;
	}
}
.sharing-options_add {
	margin-bottom: 		15px;
	text-align: 			center;
}
.button-wrapper {
	display: 					inline-block;
}