.ui-grid-menu-button {
  right: 5px;
  top: 12px;
  background-color: inherit!important;
  border: none;
  width: 18px;
  height: 18px;
  min-height: 0;
}
.ui-grid-menu-button .ui-grid-icon-container {
  margin: 0;
}
.ui-grid-menu-button .ui-grid-icon-menu:before {
  content: "";
  background-image: url("/aidata/img/icons/icon-plus.png");
  width: 18px;
  height: 18px;
  margin: 0;
}
.ui-grid-menu-button .ui-grid-menu {
  padding: 0;
  right: -6px;
  top: 29px;
}
