<!DOCTYPE html>
<html>
<head>
  <title>{{site.title}}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="content-language" content="ru">
  <meta name="keywords" content="{{site.keywords}}">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- inject:css -->
  <link rel="stylesheet" href="css/prod/e947e9ab5aa16ec.libs.min.css">
  <link rel="stylesheet" href="css/prod/fb9aced22451adc.app.min.css">
  <!-- endinject -->
  {% include ga.html %}
</head>
<body>
  {{ content }}
  <script>
    window.__pixels = {{site.data.table | jsonify}};
    window.__customers = {{site.data.customers | jsonify}};
    window.__currencies = {{site.data.currencies | jsonify}};
  </script>
  <!-- inject:js -->
  <script src="js/prod/6f3c368ce27bde9.libs.min.js"></script>
  <script src="js/prod/34652e2812a8e3b.app.min.js"></script>
  <!-- endinject -->
</body>
</html>